/AlgorithmAppChallengesCompleted_Naime_Rashad.PNG
/AlgorithmAppLesson3Screenshot_NaimeRashad.PNG
/AlgorithmLesson7_Naime_Rashad.PNG
/Github_Naime_Rashad.PNG
/helloworld.html
/Naime_Rashad_Assignment_1.html
/Naime_Rashad_Assignment_1.zip
/Naime_Rashad_JSPredict.js
/Naime_Rashad_JSPredict.zip
/Naime_Rashad_TDiagrams_PredictArrays.docx
/newtest.cpp